input#id_username.textinput.textInput.form-control{
    width: 74%;
}

div#div_id_username.form-group {
    position: relative;
    left: 2em;
    top: 1em;
}

div#div_id_password.form-group {
    position: relative;
    left: 2em;
    top: 1em;
}

input#id_password {
    width: 74%;
}

.form_login {
    position: relative;
    left: 0em;
    top: 1em;
    width: 100%;
    height: 54VH;
}

#title_log {
    position: relative;
    left: 3em;
}

#but_log {
    position: relative;
    left: 6em;
    top: 1em;
}