.title_sign {
    position: relative;
    left: 6em;
}

.form-control {
    width: 46%;
}

.signup.border {
    position: relative;
    left: 0em;
    width: 100%;
    top: 1em;
}

div#div_id_username.form-group {
    position: relative;
    left: 4em;
    width: 138VH;
    top: 1em;
}

div#div_id_password1.form-group {
    position: relative;
    left: 4em;
    width: 138VH;
    top: 1em;
}

div#div_id_password2.form-group {
    position: relative;
    left: 4em;
    width: 138VH;
    top: 1em;
}

.but_sign {
    position: relative;
    top: 1em;
    left: 4em;
    left: 10em;
}