body{
  background-image:url("/static/core/space.jpg");
  background-size: 84em;
}

.text-content {
  color: white;
}

.header {
    border : 5px solid white;
}

.formInicio{
    border : 5px solid white;
    margin-left: 140px;
    border-top-width: 8px;
    padding-top: 30px;
    padding-bottom: 26px;
    padding-left: 0px;
    margin-right: 259px;
}

.gridess {
    display: grid;
    grid-template-columns: 42% 83%;
}

.square {
    height: 66%;
    width: 126%;
    border: 3px solid white;
}

.lineLeft {
    width: 0;
    height: 0;
    border-bottom: 219px solid lavenderblush;
    border-right: 399px solid transparent;
}

.lineRight {
    width: 0;
    height: 0;
    border-bottom: 219px solid lavenderblush;
    border-left: 399px solid transparent;
}