{% extends 'core/header.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title" style="display: inline;">Editar reserva</h2>
                </div>
                <div class="card-body">
                    <form method="post" class enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form.qtd_pessoas|as_crispy_field }}
                                </div>
                                <div class="col-md-12">
                                        {{ form_pag.tipo_pagamento|as_crispy_field }}
                                </div>
                            </div>
                            <div class="float-right">
                                <input type="submit" class="btn btn-primary" value="Enviar">
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}