{% extends 'core/header.html' %}

{% block content %}

<div class="modal fade" id="cancelar" tabindex="-1" role="dialog" aria-labelledby="cancelar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Perigo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente remover a propriedade?
            </div>
            <div class="modal-footer">


                <form id="apagar" action="/propriedade/remover/{{prop.id}}/" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <input type="submit" class="btn btn-danger" value="Sim"></button>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-8">

            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <h2 class="card-title" style="display: inline;">{{ prop.nome }}</h2>
                    <div class="float-right">
                        <ul class="nav nav-pills card-header-pills">
                            {% if user.is_authenticated and prop.proprietario == user  %}
                            <li class="nav-link">
                                <a href="/propriedade/editar/{{prop.id}}/" class="card-link">Editar</a>
                            </li>
                            <li class="nav-link">
                                <a href="#cancelar" role="button" data-toggle="modal">Remover</a>
                            </li>
                            {% else %}
                            {% if ini and fim %}
                            <li class="nav-link"><a href="/propriedade/reservar/{{prop.id}}/{{ini}}/{{fim}}"
                                    class="card-link">Reservar</a></li>
                            {% endif %}
                            {% endif %}
                    </div>
                </div>
                <img src="{{prop.imagem.url}}" width=100%>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Sobre:</h6>
                            {{ prop.descricao}}
                        </div>
                        <div class="col-md-6">
                            {% if datas %}
                            <h6>Indisponível nas datas:</h6>
                            {% endif %}
                            {% for data in datas %}
                                De {{data.0}} até {{data.1}}
                            {% endfor %}
                            {% if dados and user.is_authenticated and prop.proprietario == user %}
                            <h6>Reservada nas datas:</h6>
                            {% for dado in dados %}
                                Reservada para <a href="mailto:{{dado.0.email}}">{{dado.0.first_name}} {{dado.0.last_name}}</a>, de {{dado.1}} até {{dado.2}}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}