{% extends 'core/header.html' %}

{% block content %}
<div class="container-fluid pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title" style="display: inline;">{{ titulo }} </h2>
                </div>
                <div class="card-body grid-container">

                    {% if object_list|length >= 3 %}
                    <div class="card-columns">
                    {% endif %}

                        {% for prop in object_list %}
                        <div class="card mb-4 p">
                            <img class="card-img-top" src="{{prop.imagem.url}}" width=100%></img>
                            <div class="card-body">
                                {% if ini and fim %}
                                <h5 class="card-title"><a href="/propriedade/{{prop.get_id}}/{{ini}}/{{fim}}">{{ prop.nome }}</a></h5>
                                {% else %}
                                <h5 class="card-title"><a href="/propriedade/{{prop.get_id}}/">{{ prop.nome }}</a></h5>
                                {% endif %}
                                {{ prop.descricao}}
                            </div>
                        </div>

                        {% empty %}
                        Vazio...
                        {% endfor %}

                    {% if object_list|length >= 3 %}
                    </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}